{% extends 'base.html' %}
{% block content %}
  <div class="first-box">
    QAAWDDWDWDAWDASDXZCZXCCXZC.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    bbbbbeesvvrvvewvewbhjebcwejbchjewbcewjhbchjewcbewjcbehjwb
    cwebchjewcbwejhcbewjcbewjhbhbvjwehvbewhjvblklncsklnc
    aaaawcnjZXCXZCXZCXZCXZCXZCXZCXZCZCXZCXZCXZCZCZCXZCXZCZXC
    ZXCZXCASDWDXACASDCFEFEWWFEFDDWQDW
  </div>
  <div class="second-box">
    <span>
      <a href="{%url 'account:login'%}">Log in</a>
      <a href="{%url 'account:signup'%}">No account?</a>
    </span>

  </div>

{% endblock %}
